# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs & caches
*.log
*.tmp
*.cache/
*.pytest_cache/
.ipynb_checkpoints/

# Directories
segmentation/
local\ search/
PyMRI_PSO/visualization/

# Scripts & Files
PyMRI_PSO/pso_examples*.ipynb
README.txt