# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs & caches
*.log
*.tmp
*.cache/
*.pytest_cache/
.ipynb_checkpoints/

# Directories
segmentation/
local\ search/
PyMyelinPSO/visualization/
magma_paper/

# Scripts & Files
PyMyelinPSO/development*.ipynb
PyMyelinPSO/paper_examples.ipynb
PyMyelinPSO/pso_examples_archiv.ipynb