# General dependencies without version specifications
wheel
matplotlib
numpy
natsort
nibabel
scipy
cython
pymp-pypi
numba
jellyfish
numexpr
setuptools
cython
pyepg @ git+https://github.com/mrphysics-bonn/EPGpp.git